.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s ease-in-out, opacity 0.3s;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}