.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0 67px;
  row-gap: 50px;
}

@media (max-width: 768px) {
  .main {
    padding: 42px 0 48px;
    row-gap: 36px;
    max-width: 282px;
    margin: 0 19px 0;
  }
}